<div>
  Welcome <%= current_user.first_name %>
</div>
<%= link_to 'Edit Registration', edit_user_registration_path %>
<%= link_to 'log Out', destroy_user_session_path, method: :delete %>
<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Value</th>
      <th>Presentation</th>
      <th>Texture</th>
      <th>Napkins used</th>
      <th>Taste</th>
      <th>Gut feel under 30</th>
      <th>Gut feel after 30</th>
      <th>Order accuracy</th>
      <th>Sauce level</th>
      <th>Notes</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="reviews">
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.restaurant.name %></td>
        <td><%= review.value %></td>
        <td><%= review.presentation %></td>
        <td><%= review.texture %></td>
        <td><%= review.napkins_used %></td>
        <td><%= review.taste %></td>
        <td><%= review.gut_feel_under_30 %></td>
        <td><%= review.gut_feel_after_30 %></td>
        <td><%= review.order_accuracy %></td>
        <td><%= review.sauce_level %></td>
        <td><%= review.notes %></td>
        <td><%= review.user.first_name %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% restaurants_decorator.each do |restaurant| %>
  <%= restaurant.name %>
  <%=
    bar_chart [
      { name: 'Value', data: [['Value', reviews_decorator.reviews_totals[:value] ]] },
      { name: 'Presentation', data: [['Presentation', reviews_decorator.reviews_totals[:presentation] ]] },
      { name: 'Texture', data: [['Texture', reviews_decorator.reviews_totals[:texture] ]] },
      { name: 'Napkins Used', data: [['Napkins Used', reviews_decorator.reviews_totals[:napkins_used] ]] },
      { name: 'Taste', data: [['Taste', reviews_decorator.reviews_totals[:taste] ]] },
      { name: 'Gut Feel Under 30min', data: [['Gut Feel Under 30min', reviews_decorator.reviews_totals[:gut_feel_under_30] ]] },
      { name: 'Gut Feel After 30min', data: [['Gut Feel After 30min', reviews_decorator.reviews_totals[:gut_feel_after_30] ]] },
      { name: 'Order Accuracy', data: [['Order Accuracy', reviews_decorator.reviews_totals[:order_accuracy] ]] },
      { name: 'Sauce Level', data: [['Sauce Level', reviews_decorator.reviews_totals[:sauce_level] ]] }
    ] 
  %>
<% end %>
<br>

<%= link_to 'New Review', new_review_path %>
